#a {
  display: block;
  
}
#b {
  display: inline-block;
}

@media only screen and (min-width: 800px) {
  #a {
    width: 960px;
    height: 100px;
  }
  #section {
    width: 960px;
    height: 600px;
  }
  #b {
    display: inline-block;
    width: 200px;
    height: 600px;
    vertical-align: top;
  }
  #subSection {
    display: inline-block;
    margin-left: -4px;
    width: 756px;
  }
  #cd {
    display: block;
    margin-left: -4px;
    margin-top: -4px;
  }
  #c{
    width: 376px;
    height: 200px;
    float: left;
  }
  #d{
    display: inline-block;
    width: 372px;
    height: 200px;
  }
  #efgh {
    display: block;
    margin-left: -4px;
    margin-top: -4px;
  }
  #e {
    width: 190px;
    height: 250px;
    float: left;
  }
  #f, #g, #h {
    display: inline-block;
    width: 180px;
    height: 250px;

  }
  #i {
    width: 760px;
    height: 150px;
  }

  
}